div {
    height: 50px;
    background-color: #42cafe;
    border: 1px solid black;
    padding: 10px;
    color: black;
}

.relative {
    position: relative;
    background-color: green;
}

.absolute {
    position:absolute;
    background-color: blueviolet;
}

.fixed {
    position: fixed;
    top: 0;
    right: 0;
    background-color: yellow;
}