PORT=3072
RABBITMQ_URL=amqp://guest:guest@localhost:5672
RABBITMQ_MANAGEMENT_URL=http://localhost:15672/api
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
QUEUE_NAME=scheduler.jobs.priority
MAX_PRIORITY=10
WORKER_PREFETCH=4
HIGH_WATERMARK=25
